<div id="home">
 <img width="384" height="362" src="img/videos/video.gif" style="margin-top:-30px;margin-left:-15px"/>
</div>
<div id="login-content" class="form-group">
  <div><br/>
    <label for="login">Identifiant</label>
    <input ng-model="login" type="text" name="login" class="form-control"/>
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input ng-model="password" type="password" name="password" class="form-control"/>
  </div>
  <br/>
  <input type="button" ng-click="validate(login, password)" value="C'est parti !" class="btn btn-success btn-lg btn-block">
</div>
