<p style="font-size:2em;text-align:center">Choisissez votre <br/>"Happy Fact"</p>
<p id="choixDefi-content">
    <div id="choixDefi">
      <ul>
        <li class="premier" ><a style="background-image: url('img/icon-chante.png')" ng-href="#!/spontane/details-defi">chanter</a></li>
        <li class="second"><a style="background-image: url('img/icon-danse.png');" ng-href="#!/spontane/details-defi">danser</a></li>
        <li class="troisieme"><a style="background-image: url('img/icon-flashmob.png');" ng-href="#!/spontane/details-defi">flashmob</a></li>
        <li class="quatrieme"><a style="background-image: url('img/icon-grimace.png');" ng-href="#!/spontane/details-defi">grimace</a></li>
        <li class="cinquieme"><a style="background-image: url('img/icon-haka.png');" ng-href="#!/spontane/details-defi">haka</a></li>
        <li class="sixieme"><a style="background-image: url('img/icon-hola.png');" ng-href="#!/spontane/details-defi">ola</a></li>
      </ul>
    </div>

</p>
