<p style="font-size:2em;text-align:center">Choisissez votre <br/>"Happy Fact"</p>
<p id="choixDefi-content">
    <div id="choixDefi">
      <ul>
        <li class="premier" ><a ng-href="#!/spontane/details-defi">chanter</a></li>
        <li class="second"><a ng-href="#!/spontane/details-defi">danser</a></li>
        <li class="troisieme"><a ng-href="#!/spontane/details-defi">flashmob</a></li>
        <li class="quatrieme"><a ng-href="#!/spontane/details-defi">grimace</a></li>
        <li class="cinquieme"><a ng-href="#!/spontane/details-defi">haka</a></li>
        <li class="sixieme"><a ng-href="#!/spontane/details-defi">ola</a></li>
      </ul>
    </div>

</p>
