<div>
  <div id="imageDefi" style="margin-left:-15px;margin-top:-30px;width:384px;height:200px;background:url('img/defis/ola.jpg') center center no-repeat"></div>
  <p style="text-align:center;font-size:1.8em;margin-top:50px;">Es-tu prêt à lancer une Ola là tout de suite maintenant ?</p>
  <p style="text-align:center;font-size:1.2em">Si oui, échauffe toi les coudes, les épaules, les poignets, et clique sur "Play" pour voir si quelqu'un autour de toi a envie de te voir t'agiter !!!</p>
</div>
<p style="text-align:center" id="detailsDefi-content">
  <a ng-href="#!/spontane/confirmation-defi"><img src="img/boutons/play.png" width="64" height="64"/></a>
</p>
