<div>
  <div id="imageDefi" style="margin-left:0px;margin-top:-30px;width:100%;height:200px;background:url('img/defis/ola.jpg') center center no-repeat"></div>
<div class="container">
  <p style="text-align:center;font-size:1.8em;margin-top:50px;">&Ecirc;tes-vous prêt à lancer une Ola là tout de suite maintenant ?</p>
  <p style="text-align:center;font-size:1.2em">Si oui, échauffez vous les coudes, les épaules, les poignets, et cliquez sur "Play" pour voir si quelqu'un autour de vous a envie de vous voir vous agiter !!!</p>
</div>
</div>
<p style="text-align:center" id="detailsDefi-content">
  <a ng-href="#!/spontane/confirmation-defi"><img src="img/boutons/play.png" width="64" height="64"/></a>
</p>
