<div>
  <div id="imageDefi" style="margin-left:-15px;margin-top:-30px;width:384px;height:200px;background:url('img/defis/ola.jpg') center center no-repeat"></div>
  <p style="text-align:center;font-size:1.8em;margin-top:20px;">Tu es en veine, aujourd'hui ! Trois personnes ont besoin que tu les dérides.</p>
  <ul>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/rihanna.png" width="64" height="64"><br/>Rihanna</li>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/sim.png" width="64" height="64"><br/>Sim</li>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/morgan.png" width="64" height="64"><br/>Morgan</li>
  </ul>
</div>
