<div>
    <div id="imageDefi" style="margin-left:0px;margin-top:-30px;width:100%;height:200px;background:url('img/defis/ola.jpg') center center no-repeat"></div>
<div class="container">
  <p style="text-align:center;font-size:1.8em;margin-top:20px;">Vous &ecirc;tes en veine, aujourd'hui&nbsp;! Trois personnes ont besoin que vous les déridiez.</p>
  <ul>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/rihanna.png" width="64" height="64"><br/>Rihanna</li>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/sim.png" width="64" height="64"><br/>Sim</li>
    <li style="width:50%;float:left; text-align:center;list-style-type:none;"><img src="img/profils/morgan.png" width="64" height="64"><br/>Morgan</li>
  </ul>
</div>
</div>
